<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cv</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <link href="/css/main.css" type="text/css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/favicon.ico" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
{{> top}}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="text-center col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <img src="/img/cvImg.jpg" alt="img me" class="img-thumbnail" width="200px" height="200px">
            </div>
            <div class="text-center col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2>Viktor Draganov CV</h2>
            </div>
        </div>
    </div>

    <div class="jumbotron">

        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Personal Data
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <p><strong>Name:</strong> Viktor Draganov</p>
                        <p><strong>Country:</strong> Bulgartia</p>
                        <p><strong>City:</strong> Stara Zagora</p>
                        <p><strong>Email:</strong> swifrorlilko@gmail.com</p>
                        <p><strong>Phone:</strong> 089-531-3156</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        Skills
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                 aria-valuemin="0" aria-valuemax="100">JS
                            </div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                 aria-valuemin="0" aria-valuemax="100">NodeJs
                            </div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                 aria-valuemin="0" aria-valuemax="100">HTML
                            </div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100">CSS
                            </div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100">Bootstrap
                            </div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45"
                                 aria-valuemin="0" aria-valuemax="100">C#
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        Experience
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <p>I studied year and half in softuni starting out with c# but then moving onto JS.</p>
                        <p>I have worked on some small personal projects you can check in this application.</p>
                        <p>Also i will study angular and react as frontend frameworks after i fully learn database
                            mongodb.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
