<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/favicon.ico" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
{{> top}}
<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">Pali Reader</h2>
        <div>
        <img src="./img/plai-reader.PNG" class="img-thumbnail">
        </div>
        <div class="text-container">
            <h5 class="text-information">This is pali-reader application about helping people study the pali language. It was developed in 2011 i worked to update it in 2020. It is widely used in India and around the world. You can check the github <a href="https://github.com/viktor111/digitalpalireader">here</a></h5>
        </div>
    </div>
    <div class="jumbotron">
        <h2 class="text-center">Boxing Club Paphos <small>(work in progress)</small></h2>
        <div>
            <img src="./img/boxing-club.PNG" class="img-thumbnail">
        </div>
        <div class="text-container">
            <h5 class="text-information">This is web application for Dimitar Shtilianov a EU champion boxer. Its build on node js and sql its build by 2 people i am one of them. It is still being worked on.</h5>
        </div>
    </div>
</div>
</div>
{{> bottom}}
</body>
</html>
