<div class="navbar navbar-dark bg-dark">
    <a href="/"><img src="https://images.cooltext.com/5359818.png" width="65" height="65" alt="Logo" /></a>
    <a href="/about-cv" class="navbar-brand">CV</a>
    <a href="/app-info" class= "navbar-brand">App Info</a>
    <a href="https://github.com/viktor111/CV-App-Project" class="navbar-brand"><img src="/img/GitHub-Mark-64px.png" width="65" height="65" alt="GitHub"></a>
</div>
